.banner-container{
    background-color: tan;
}
.banner-container [class^="children-"]{
    position: relative;
}
.banner-container .txt-container{
    position: absolute;
    top: 0;
    left: 3rem;
    color: #000;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #fff;
    font-style: italic;
}