.jsonread-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.jsonread-container li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px
}

.pagination-container a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-right: none;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease-in-out
}

.pagination-container a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.pagination-container a:last-child {
    border-right: 1px solid #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.pagination-container a.active {
    background-color: rgb(71, 113, 124);
    border: 1px solid rgb(71, 113, 124);
    color: #fff;
}

.pagination-container a:hover:not(.active) {
    background-color: #ddd
}
