.fragment-container .featured-article {
    background-color: #ebebeb;
}
.fragment-container .featured-article > div {
    align-items: normal;
    gap: 0;
}
.fragment-container .featured-article > div > div:last-child {
    padding: 3.5em 2em 2em;
}
.fragment-container .featured-article > div > div > p {
    font-size: var(--body-font-size-xxs);
}
.fragment-container .featured-article > div > div > p:first-child strong {
    font-size: var(--body-font-size-m);
}
.fragment-container .featured-article .columns-img-col {
    -ms-flex: 2;
    flex: 2;
}
.fragment-container .featured-article .columns-img-col img {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%;
}
.fragment-container .featured-article .columns-img-col {
    -ms-flex: 2;
    flex: 2;
}
